{% extends 'schedule/_schedule.html.twig' %}

{% block title %}Lista de horarios
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}


{% block subcontent %}

	{% if listSchedules %}
		<div class="row row-cols-1 row-cols-md-2 g-4">
			{% for schedule in listSchedules %}
				{# componente de horarios #}
				{{ include('schedule/_schedule_times.html.twig', {schedule: schedule })}}
				{{ include('Components/_delete_modal.html.twig', 
				{message: 'Deseas eliminar este horario'}) }}
			{% endfor %}
		</div>
		
	{% else %}
		<div class="container-xxl container-p-y d-flex align-items-center justify-content-center vh-auto pt-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
			<div class="misc-wrapper text-center ">
				<div class="container mt-2">
					<img src="{{ asset('images/page-not-dates.webp') }}" alt="girl-doing-yoga-light" width="600" class="img-fluid" data-app-dark-img="{{ asset('images/main.svg') }}" data-app-light-img="{{ asset('images/main.svg') }}"/>
				</div>
			</div>
		</div>
	{% endif %}
	
{% endblock %}

