{% extends 'base_dashboard.html.twig' %}

{% block title %}Horarios{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block content %}
	<div class="container-xxl flex-grow-1 container-p-y">
		 {{ include('Components/_label_route.html.twig', {path: '/GH/' , label: 'Horarios'}) }}
		<div class="row">
			<div class="col-xxl">
				<ul class="nav nav-pills flex-column flex-md-row mb-3 ">
					{{ include('Components/_item_nav_bar.html.twig',{route:'app_schedule', icon:'bi bi-list-stars', text: 'Lista horarios' } ) }}
					{{ include('Components/_item_nav_bar.html.twig',{route:'app_schedule_add', icon:'bi bi-plus-circle-fill', text: 'Agregar horario' } ) }}
				</ul>
			{% block subcontent %}

			{% endblock %}
			</div>
		</div>
	</div>
	{{ include('_message.html.twig') }}
{% endblock %}
