{% extends 'Employee/main_employees.html.twig' %}


{% block subcontent %}
	<section>
		<div class="container">
			<div class="table-responsive m-2">
				<table class="table caption-top table-striped">
					<caption>Colaboradores activos</caption>
					
					<thead class="table-light">
						<tr>
							{% for header in headers %}
								<th scope="col">{{ header }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for employee in listEmployees %}
							<tr>
								<th scope="row">{{ employee.id }}</th>
								<td>{{ employee.name }}</td>
								<td>{{ employee.cc }}</td>
								<td>{{ employee.getIDState.getNameState ?: 'N/A' }}</td>
								<td>{{ employee.getCodJobTitle.getName ?: 'N/A' }}</td>
								<td>
									{% if employee.getIdSchedule is not empty %}
										{{ employee.getIdSchedule.name ?: 'sin horario' }}
									{% else %}
										Sin horario asignado
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>

{% endblock %}
